window {
	margin: 5px;
	background-color: #151515;
	color: #fff;
	border-radius: 10px;
}

#input {
	margin: 5px;
	background: none;
	border: none;
	color: #fff;
}

#entry:selected {
	border-radius: 5px;
	border: none;
}

#text:selected {
	color: #fff;
}

#inner-box {
	margin: 5px;
}

#outer-box {
	margin: 5px;
}

#text {
	margin: 5px;
}
